# Ignore node_modules in both frontend and backend
**/node_modules

# Ignore environment variables
**/.env

# Ignore build folder for React

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
